asgiref @ file:///work/ci_py311/asgiref_1676843199969/work
Django @ file:///work/ci_py311/django_1676851927387/work
django-rest-framework==0.1.0
djangorestframework==3.14.0
pytz==2023.3.post1
sqlparse @ file:///croot/sqlparse_1690901927333/work
